body{
    text-align: center;
  background-color: aqua;      
}
div{
    margin-top: 15px;
}
.Image-section{
    display: flex;
    justify-content: center;
    height: 450px;
}
.Section-style{
    margin-right: 25px;
    margin-left: 25px;
}
img{
    height: 200px;
    width: 200px
}